@{
    ViewData["Title"] = "Shop";
}

<!--  Header start -->
<div class="container-fluid page-header py-5">
    <h1 class="text-center text-white display-6 wow fadeInUp" data-wow-delay="0.1s">Shop Page</h1>
    <ol class="breadcrumb justify-content-center mb-0 wow fadeInUp" data-wow-delay="0.3s">
        <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">Home</a></li>
        <li class="breadcrumb-item active text-white">Shop</li>
    </ol>
</div>
<!--  Header End -->
<!-- Shop Page Start -->
<div class="container-fluid shop py-5">
    <div class="container py-5">
        <div class="row g-4">
            <div class="col-lg-3 wow fadeInUp" data-wow-delay="0.1s">
                <div class="product-categories mb-4">
                    <h4>Danh mục sản phẩm</h4>
                    <ul class="list-unstyled">
                        <li>
                            <div class="categories-item">
                                <a href="#" class="text-dark">Điện trở</a>
                                <span>(3)</span>
                            </div>
                        </li>
                        <li>
                            <div class="categories-item">
                                <a href="#" class="text-dark">Tụ điện</a>
                                <span>(5)</span>
                            </div>
                        </li>
                        <li>
                            <div class="categories-item">
                                <a href="#" class="text-dark">IC</a>
                                <span>(2)</span>
                            </div>
                        </li>
                        <li>
                            <div class="categories-item">
                                <a href="#" class="text-dark">Cảm biến</a>
                                <span>(8)</span>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="col-lg-9 wow fadeInUp" data-wow-delay="0.1s">
                <div class="row g-4 product">
                    <div class="col-lg-4">
                        <div class="product-item rounded wow fadeInUp" data-wow-delay="0.1s">
                            <div class="product-item-inner border rounded">
                                <div class="product-item-inner-item">
                                    <img src="~/img/product-3.png" class="img-fluid w-100 rounded-top" alt="">
                                    <div class="product-new">New</div>
                                    <div class="product-details">
                                        <a href="#"><i class="fa fa-eye fa-1x"></i></a>
                                    </div>
                                </div>
                                <div class="text-center rounded-bottom p-4">
                                    <a href="#" class="d-block mb-2">Cảm biến</a>
                                    <a href="#" class="d-block h4">Cảm biến DHT11</a>
                                    <del class="me-2 fs-5">150.000đ</del>
                                    <span class="text-primary fs-5">120.000đ</span>
                                </div>
                            </div>
                            <div class="product-item-add border border-top-0 rounded-bottom text-center p-4 pt-0">
                                <a href="#" class="btn btn-primary border-secondary rounded-pill py-2 px-4 mb-4">
                                    <i class="fas fa-shopping-cart me-2"></i> Add To Cart
                                </a>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4">
                        <div class="product-item rounded wow fadeInUp" data-wow-delay="0.3s">
                            <div class="product-item-inner border rounded">
                                <div class="product-item-inner-item">
                                    <img src="~/img/product-4.png" class="img-fluid w-100 rounded-top" alt="">
                                    <div class="product-new">New</div>
                                </div>
                                <div class="text-center rounded-bottom p-4">
                                    <a href="#" class="d-block mb-2">Module</a>
                                    <a href="#" class="d-block h4">Module Relay 1 Kênh</a>
                                    <del class="me-2 fs-5">90.000đ</del>
                                    <span class="text-primary fs-5">70.000đ</span>
                                </div>
                            </div>
                            <div class="product-item-add border border-top-0 rounded-bottom text-center p-4 pt-0">
                                <a href="#" class="btn btn-primary border-secondary rounded-pill py-2 px-4 mb-4">
                                    <i class="fas fa-shopping-cart me-2"></i> Add To Cart
                                </a>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4">
                        <div class="product-item rounded wow fadeInUp" data-wow-delay="0.5s">
                            <div class="product-item-inner border rounded">
                                <div class="product-item-inner-item">
                                    <img src="~/img/product-5.png" class="img-fluid w-100 rounded-top" alt="">
                                    <div class="product-new">New</div>
                                </div>
                                <div class="text-center rounded-bottom p-4">
                                    <a href="#" class="d-block mb-2">Vi điều khiển</a>
                                    <a href="#" class="d-block h4">Arduino Uno R3</a>
                                    <del class="me-2 fs-5">250.000đ</del>
                                    <span class="text-primary fs-5">220.000đ</span>
                                </div>
                            </div>
                            <div class="product-item-add border border-top-0 rounded-bottom text-center p-4 pt-0">
                                <a href="#" class="btn btn-primary border-secondary rounded-pill py-2 px-4 mb-4">
                                    <i class="fas fa-shopping-cart me-2"></i> Add To Cart
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<!-- Shop Page End -->